

*.cache
*.BuildWithSkipAnalyzers
*.txt
*.dll
*.json
*.props
*.pdb
*.exe
*.targets
*.vsidx
*.editorconfig
/BancoCentralAtualSLN/.vs/BancoCentralAtualSLN
*.bin
/BancoCentralAtualSLN/BancoCentralAtual/obj
